.btn {
  background: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  color: gray;
  padding: 4px 8px;
  margin: 8px;
  display: inline-block;
}

/* .btn:hover {
  color: black;
} */

.card-border .btn {
  opacity: 0;
  transition: .3s;
}

.card-border:hover .btn {
  opacity: 1;
}